title #{pkg.name} | Learn Code While Competing

meta(charset='utf-8')
meta(name='description', content='')
meta(name='viewport', content='width=device-width')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
link(rel="shortcut icon", type="image/ico", href="/img/teacher.png")

// base css styles
link(rel='stylesheet', type='text/css', href='/css/bootstrap/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/css/jquery-ui/jquery-ui.min.css')
link(rel='stylesheet', type='text/css', href='/css/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='/css/bootstrap/bootstrap-responsive.min.css')

// user css styles
link(rel='stylesheet', type='text/css', href='/css/style.css')
link(rel='stylesheet', type='text/css', href='/css/style.min.css')
link(rel='stylesheet', type='text/css', href='/css/responsive.css')

// ace editor
script(type='text/javascript', src='/js/ace/ace.js')
script(type='text/javascript', src='/js/ace/ext-emmet.js')
script(type='text/javascript', src='/js/ace/ext-language_tools.js')

// base javascript
script(type='text/javascript', src='/js/jquery/jquery.min.js')
script(type='text/javascript', src='/js/modernizr/modernizr.min.js')
script(type='text/javascript', src='/js/jquery-ui/jquery-ui.min.js')
script(type='text/javascript', src='/js/bootstrap/bootstrap.min.js')
script(type='text/javascript', src='/js/nicescroll/jquery.nicescroll.min.js')

// socket.io
script(type='text/javascript', src='/socket.io/socket.io.js')

// user javascript
script(type='text/javascript', src='/js/index.js')
script(type='text/javascript', src='/js/custom.js')
