// BEGIN Sidebar
#sidebar.nav-collapse
    // BEGIN Navlist
    ul.nav.nav-list
        li
            a(href="/dashboard")
                i.icon-dashboard
                span Dashboard
        li
            a(href="/study")
                i.icon-text-width
                span Study
        li
            a.dropdown-toggle(href="/coding")
                i.icon-desktop
                span Coding
        li
            a(href="/chat")
                i.icon-edit
                span Code & Chat
        li
            a(href="/sumorobot")
                i.icon-th
                span Sumorobot
    // END Navlist
    // BEGIN Sidebar Collapse Button
    #sidebar-collapse.visible-desktop
        i.icon-double-angle-left
    // END Sidebar Collapse Button
// END Sidebar
