extends layout

block content

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/ace/ace.js")
	script(type="text/javascript", src="/javascripts/chat.js")

	input(type="button", value="Index" onclick="window.location.href='/'")
	if !user.guest
		input(type="button", value="Profile" onclick="window.location.href='/profile'")
	input(type="button", value="Study" onclick="window.location.href='/study'")
	input(type="button", value="Coding" onclick="window.location.href='/coding'")
	input(type="button", value="Sumorobot" onclick="window.location.href='/sumorobot'")
	input(type="button", value="Chat" onclick="window.location.href='/chat'")

	h3 Online users:
	div#online-users
		p Loading users ...
	div.clear

	h3 Code collaboration
	div#code
	textarea#chat(style="width: 100%; height: 100px;", placeholder="Chat with other users", disabled="disabled")
	input#message(style="width: 100%;", type="text", placeholder="Message")
	input#submit-chat(type="submit", value="Send")