extends layout

block content

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/ace/ace.js")
    script(src="/channel/bcsocket.js")
    script(src="text.js")
    script(src="/javascripts/share.uncompressed.js")
    script(src="/javascripts/sharejs_ace.js")
    script(src="/javascripts/chat.js")

    .box-title
        h3 Code & Chat
    .box-content
        div#code(style="float:left;width:49%;")
        iframe#prev(style="float:right;width:49%;height:300px;padding:0px;margin:0px;")
        .clear
        div(style="margin-top:1%;")
            textarea#chat(style="width:100%;height:100px;padding:0px;", placeholder="Chat with other users", disabled="disabled")
            div
                input#message(style="float:left;width:100%;margin:0px;padding-right:0px;padding-left:0px;", type="text", placeholder="Message")
                input#submit-chat(type="submit", class="btn btn-primary", value="Send")
            .clear