extends layout

block content

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/ace/ace.js")
    script(src="/channel/bcsocket.js")
    script(src="text.js")
    script(src="share.uncompressed.js")
    script(src="/javascripts/sharejs_ace.js")
    script(src="/javascripts/chat.js")

    .box-title
        h3 Code & Chat
    .box-content
        div#code(style="float:left;width:45%;")
        iframe#prev(style="width:45%;margin-left:10px;")
        .clear
        textarea#chat(style="width: 45%; height: 100px;", placeholder="Chat with other users", disabled="disabled")
        .clear
        input#message(style="width: 42%;", type="text", placeholder="Message")
        input#submit-chat(type="submit", class="btn btn-primary", value="Send")