extends layout2

block content

    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/ace/ace.js")
    script(type="text/javascript", src="/javascripts/chat.js")

    .box-title
        h3 Code & Chat
    .box-content
        div#code(style="float:left;width:45%;")
        iframe#prev(style="width:45%;margin-left:10px;")
        .clear
        textarea#chat(style="width: 45%; height: 100px;", placeholder="Chat with other users", disabled="disabled")
        .clear
        input#message(style="width: 42%;", type="text", placeholder="Message")
        input#submit-chat(type="submit", value="Send")