extends layout2

block content

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/ace/ace.js")
	script(type="text/javascript", src="/javascripts/chat.js")

	.box-title
		h3 Code & Chat
	.box-content
		div#code
		textarea#chat(style="width: 100%; height: 100px;", placeholder="Chat with other users", disabled="disabled")
		input#message(style="width: 100%;", type="text", placeholder="Message")
		input#submit-chat(type="submit", value="Send")