extends layout

block content

    script(type='text/javascript', src='/javascripts/online_users.js')

    .box-title
        h3 CODDEE
    .box-content
        p Source code on 
            a(href="https://github.com/kuzmaka/hackathon.submit") GitHub
        iframe(src="http://kuzmaka.koding.io/" width="100%" height="1495px")