extends layout

block content

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/ace/ace.js")
	script(type="text/javascript", src="/javascripts/main.js")

	a(href="/") Index
	|  or 
	if user.name != "Guest"
		a(href="/profile") Profile
		|  or 
	a(href="/study") Study
	|  or Coding

	h3 Online users:
	div#online-users
		p Loading users ...
	div.clear

	div#task
	div#task-message
	div#code-wrapper
		span Test Coding Abilities
		div#code
		input(type="button", onclick="javascript:setCode()", value="Save Code")