extends layout

block content

	input(type="button", value="Login" onclick="window.location.href='/login'")
	input(type="button", value="Register" onclick="window.location.href='/register'")
	input(type="button", value="Forgot Password" onclick="window.location.href='/forgot'")
	input(type="button", value="Login as Guest" onclick="window.location.href='/study'")

	div#forgot
		each error in errors
			p.errors #{error.msg}
		p.messages #{message}

		form(name="forgot", action="/forgot", method="post")
			input(type="email", name="email", value="#{email}", placeholder="Email")
			br
			input(type="submit", name="reset", value="Submit")