extends layout

block content
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript").
		window.onload = function() {
			var socket = io.connect();
			/* Aquire all the users */
			socket.on("users", function (users) {
				if (document.getElementById("online-users") == null) return;
				document.getElementById("online-users").innerHTML = "";
				for (var key in users) {
					document.getElementById("online-users").innerHTML += '<div class="user"><a class="mugshot-link" href="' + users[key].profile.website + '" title="profile">' +
					'<img class="mugshot" src="' + users[key].profile.mugshot + '" alt="mugshot" />' +
					'<p>' + users[key].name + '</p><p>' + users[key].profile.description + '</p></a></div>';
				}
			});
		}

	| Index or 
	a(href="/profile") Profile
	|  or 
	a(href="/coding") Coding

	h3 All users:
	div#all-users
		each user in users
			div.user
				a(class="mugshot-link", href="#{user.profile.website}", title="profile")
					img(class="mugshot", src="#{user.profile.mugshot}", alt="mugshot")
					p #{user.name}
					p #{user.profile.description}
	div.clear
	
	h3 Ready to play:
	div#online-users
		p Loading users ...
	div.clear