!!! 5
html.no-js(lang='en')
    head
        title CodeSnail | Learn Code While Competing

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Codesnail learn coding by competing with others')

        // styles
        link(href='/stylesheets/bootstrap/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/bootstrap/bootstrap-responsive.min.css', rel='stylesheet')
        link(href='/stylesheets/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/stylesheets/style-landing.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700', rel='stylesheet', type='text/css')

        script(type='text/javascript', src='/javascripts/jquery/jquery-1.10.1.min.js')
        script(type='text/javascript', src='/javascripts/bootstrap/bootstrap.min.js')
    body
        .wrapper
            // begins header
            header.header
                // begins navbar
                #top-nav.navbar
                    .navbar-inner
                        .container
                            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.brand(data-section='body', href='index.html')
                                img(src='/images/CS-Logo.png', alt='CodeSnail Logo')
                                h1.hide CodeSnail | Learn Coding While Competing with others
                            nav#main-menu.nav-collapse.collapse
                                h2.hide Main Navigation
                                ul.nav.pull-right
                                    li
                                        a(href='#features-section') Features
                                    li
                                        a(href="/login") Sign In / Sign Up
                                    li
                                        a.btn.btn-primary(href="/study") Guest Login
                // ends navbar
                // begins hero unit
                .hero-unit.video
                    .container
                        .row-fluid
                            .span5.hero-text
                                h2.heading Learn to Code by Competing with others !
                                p.description
                                    | Code Snail teaches how to build website & web apps interactively in browser. Start Learning today without any setup!
                                a.btn.btn-primary(href="/login") Signup
                                // <a href="#" class="btn default">Get Free</a>
                            .span7.hero-video
                                iframe(src='https://www.youtube.com/embed/QBikLyv9FB8', height='377', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
                // ends hero unit
            // ends header
            // begins main content
            .main-content
                section#features-section.container.section.features
                    .row-fluid.feature-item
                        .span6
                            img(src='/images/code.png', alt='Experiement with Code')
                        .span6.right-text
                            h2.heading Experiment with code
                            p.description
                                | Most people don’t learn to program and design for the web by reading a book. Real learning takes place when you start experimenting with code in the browser and using design concepts in a website.
                    hr
                    .row-fluid.feature-item
                        .span6
                            h2.heading Work towards a goal
                            p.description
                                | Practice what you've learned through quizzes and interactive Code Challenges. This style of practicing will allow you to retain information you've learned so you can apply it to your own future projects.
                                | You'll earn badges as you journey through our extensive library of courses. These badges are an indicator of what skills you currently possess and are viewable by anyone online.
                        .span6
                            img(src='/images/badges.png', alt='Earn Badges')
                    hr
                    .row-fluid.feature-item
                        .span6
                            img(src='/images/browser.jpg', alt='Get Lastest Browser')
                        .span6.right-text
                            h2.heading What do you need ?
                            p.description
                                | You will need a modern web browser. We rely on the latest browser technology to deliver our courses, so we suggest using an up-to-date version of your preferred browser.
                    hr
                    .row-fluid.feature-item
                        .span6.right-text
                            h2.heading Not sure where to start
                            p.description
                                | Our tracks will give you guided pathway and teach you everything you need to know. We does not only teach with tutorials but you can also learn with interactive quizzes. If you get lost need help. you can use our form(coming soon).
                        .span6
                            img(src='/images/pathway.jpg', alt='Get Lastest Browser')
            // ends main content
            // begins footer
            section.full-width.newsletter
                .container
                    .row-fluid
                        .span6
                            h3.heading Join Our Newsletter
                            p.description Stay up to date with the latest news by subscribing to our newsletter.
                        .span6
                            .alert
                                button.close(type='button') ×
                                p
                            form.form-inline.pull-right
                                input#email(type='email', name='email', placeholder='youremail@domain.com')
                                input#submit.btn.btn-primary(type='button', value='Subscribe Now')
            footer.full-width.footer
                .container
                    .row-fluid
                        .span6.copyright Built by Students
                        .span6.social
                            ul
                                li
                                    a(href='#')
                                        i.socicon.facebookcircle
                                li
                                    a(href='#')
                                        i.socicon.twittercircle
                                li
                                    a(href='#')
                                        i.socicon.dribbblecircle
                                li
                                    a(href='#')
                                        i.socicon.googlecircle