doctype 5
html(lang="en")
	head
		title CodeSnail
		script(type="text/javascript", src="//code.jquery.com/jquery-1.9.1.js")
		link(href="/stylesheets/style.css", rel="stylesheet")
	body
		div#header
			h1 Welcome to CodeSnail
			h4 Learn new skills while completing exciting challenges.
		div#user
			if user
				a(class="mugshot-link", href="#{user.profile.website}", title="profile")
					img(class="mugshot", src="#{user.profile.mugshot}", alt="mugshot")
					p #{user.name}
				input(type="button", value="Logout" onclick="window.location.href='/logout'")

		div#content
			block content

		div#footer Built by Students