!!! 5
html.no-js(lang='en')
    head
        title CodeSnail | Learn Code While Competing

        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

        // base css styles
        link(rel='stylesheet', href='/stylesheets/normalize/normalize.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui/jquery-ui-1.10.3.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.min.css')

        // flaty css styles
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        link(rel='stylesheet', href='/stylesheets/responsive.css')

        script(type='text/javascript', src='/javascripts/jquery/jquery-1.10.1.min.js')
        script(type='text/javascript', src='/javascripts/modernizr/modernizr-2.6.2.min.js')
        script(type='text/javascript', src='/javascripts/jquery-ui/jquery-ui-1.10.3.min.js')
        script(type='text/javascript', src='/javascripts/nicescroll/jquery.nicescroll.min.js')

        script(type='text/javascript', src='/javascripts/custom.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='/javascripts/ace/ace.js')
        script(type='text/javascript', src='/javascripts/bootstrap/bootstrap.min.js')
    body
        //if lt IE 7
          p.chromeframe
            | You are using an
            strong outdated
            | browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            | or
            a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
            | to improve your experience.
        // BEGIN Navbar
        script(type='text/javascript')
            var nSound = new Audio("audio/notify_awais.mp3"); // buffers automatically when created
            function notifySound(){
                nSound.play();
            }
        #navbar.navbar
            .navbar-inner
                .container-fluid
                    a.brand(href='#')
                        img(src='/images/CS-Logo.png', width='200', height='20')
                    // BEGIN Responsive Sidebar Collapse
                    a.btn-navbar.collapsed(href='#', data-toggle='collapse', data-target='.nav-collapse')
                        i.icon-reorder
                    // END Responsive Sidebar Collapse
                    // BEGIN Navbar Buttons
                    ul.nav.flaty-nav.pull-right
                        li.user-profile
                            a.user-menu.dropdown-toggle(data-toggle='dropdown', href='#')
                                img.nav-user-photo(src='#{user.profile.mugshot}', alt='#{user.name}')
                                span#user_info.hidden-phone
                                | #{user.name}
                                i.icon-caret-down
                                // BEGIN User Dropdown
                            ul#user_menu.dropdown-menu.dropdown-navbar
                                    li.nav-header
                                        i.icon-time
                                        | Logined From 20:45
                                    li
                                        a(href='#')
                                            i.icon-cog
                                            | Account Settings
                                    li
                                        a(href="/profile")
                                            i.icon-user
                                            | Edit Profile
                                    li
                                        a(href='#')
                                            i.icon-question
                                            | Help
                                    li.divider.visible-phone
                                    li.visible-phone
                                        a(href='#')
                                            i.icon-tasks
                                            | Tasks
                                            span.badge.badge-warning 4
                                    li.visible-phone
                                        a(href='#')
                                            i.icon-bell-alt
                                            | Notifications
                                            span.badge.badge-important 8
                                    li.visible-phone
                                        a(href='#')
                                            i.icon-envelope
                                            | Messages
                                            span.badge.badge-success 5
                                    li.divider
                                    li
                                        a(href="/logout")
                                            i.icon-off
                                            | Logout
                            // BEGIN User Dropdown
                        // END Button User
                    // END Navbar Buttons
                // /.container-fluid
            // /.navbar-inner
        // END Navbar
        // BEGIN Container
        #main-container.container-fluid
            // BEGIN Sidebar
            #sidebar.nav-collapse
                // BEGIN Navlist
                ul.nav.nav-list
                    li
                        a(href="/dashboard")
                            i.icon-dashboard
                            span Dashboard
                    li
                        a(href="/study")
                            i.icon-text-width
                            span Study
                    li
                        a.dropdown-toggle(href="/coding")
                            i.icon-desktop
                            span Coding
                    li
                        a(href="/chat")
                            i.icon-edit
                            span Code & Chat
                    li
                        a(href="/sumorobot")
                            i.icon-th
                            span Sumorobot
                // END Navlist
                // BEGIN Sidebar Collapse Button
                #sidebar-collapse.visible-desktop
                    i.icon-double-angle-left
                // END Sidebar Collapse Button
            // END Sidebar
            // BEGIN Content
            #main-content
                // BEGIN Page Title
                .page-title
                    div
                        h1
                            i.icon-user
                            | Online Users
                        div#online-users
                            p Loading users ...
                        div.clear
                // END Page Title
                // END Breadcrumb
                // BEGIN Main Content
                .row-fluid
                    .span12
                        .box
                            block content
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                // END Main Content
                footer
                    p Built by Students
                a#btn-scrollup.btn.btn-circle.btn-large(href='#')
                    i.icon-chevron-up
            // END Content
        // END Container