extends layout

block content

	input(type="button", value="Login" onclick="window.location.href='/login'")
	input(type="button", value="Register" onclick="window.location.href='/register'")
	input(type="button", value="Forgot Password" onclick="window.location.href='/forgot'")
	input(type="button", value="Login as Guest" onclick="window.location.href='/study'")

	div#login
		each error in errors
			p.errors #{error}
		p.messages #{message}
		
		form(name="login", action="/login", method="post")
			input(type="username", name="username", placeholder="Email or Username")
			br
			input(type="password", name="password", placeholder="Password")
			br
			input(type="submit", name="login", value="Login")

	p Login with other providers
	div#oauths
		each login in logins
			input(type="button", value="#{login[0]}" onclick="window.location.href='#{login[1]}'")
			br