extends layout

block content
	p Login or 
		a(href="/register") Register
	div#login
		each error in errors
			p.errors #{error}
		form(name="login", action="/login", method="post")
			input(type="email", name="username", placeholder="Email")
			br
			input(type="password", name="password", placeholder="Password")
			br
			input(type="submit", name="login", value="Login")
	p Login with OAuth/OAuth2
	div#oauths
		each value, key in logins
			a(href="#{value}") #{key}
			br