<h1>Login with:</h1>
<div id="logins">
	<a href="<%= feed['google_auth'] %>">Google+</a><br>
	<a href="<%= feed['twitter_auth'] %>">Twitter</a><br>
	<a href="<%= feed['facebook_auth'] %>">Facebook</a><br>
</div>
