extends layout

block content

	| Login or 
	a(href="/register") Register
	|  or 
	a(href="/forgot") Forgot password
	|  or 
	a(href="/study") Study
	|  or 
	a(href="/coding") Coding

	div#login
		each error in errors
			p.errors #{error}
		p.messages #{message}
		form(name="login", action="/login", method="post")
			input(type="email", name="username", placeholder="Email")
			br
			input(type="password", name="password", placeholder="Password")
			br
			input(type="submit", name="login", value="Login")

	p Login with OAuth/OAuth2
	div#oauths
		each login in logins
			a(href="#{login[1]}") #{login[0]}
			br