extends layout

block content

    script(type='text/javascript', src='/javascripts/online_users.js')

    .box-title
        h3 Lucy is a Spy with Diamonds
    .box-content
        p Source code on 
            a(href="http://github.com/edgarjcfn/koding-spy") GitHub
        iframe(src="http://edgarjcfn.koding.io/Lucy" width="100%" height="1495px")