extends layout

block content

    script(type='text/javascript', src='/javascripts/online_users.js')

    .box-title
        h3 Ninjas In The Box
    .box-content
        p Please decrease the browser window's width for better playing. Source code on 
            a(href="https://github.com/kr15h/ninjasinthebox-game") GitHub
        iframe(src="http://morriswinkler.koding.io/" width="100%" height="1495px")