!!! 5
html.no-js
  <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title CodeSnail App
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // base css styles
    link(rel='stylesheet', href='/irfandesign/app/assets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/irfandesign/app/assets/bootstrap/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/irfandesign/app/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/irfandesign/app/assets/normalize/normalize.css')
    // page specific css styles
    // flaty css styles
    link(rel='stylesheet', href='/irfandesign/app/css/style.css')
    link(rel='stylesheet', href='/irfandesign/app/css/responsive.css')
    script(src='/irfandesign/app/assets/modernizr/modernizr-2.6.2.min.js')
  body.login-page
    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    // BEGIN Main Content
    .login-wrapper
      h1(align='center') CodeSnail Login / Sign Up

      div#forErrors(align='center')
        each error in errors
            p.errors(style="color:red;") #{error.msg}
        p.messages #{message}

      // BEGIN Register Form
      form#form-register(name="register", action='/register', method='post')
        h3 Sign up
        hr
        .control-group
          .controls
            input.input-block-level(type='text', name="username", placeholder='Username', value="#{username}")
        .control-group
          .controls
            input.input-block-level(type='text', name="email", placeholder='Email', value="#{email}")
        .control-group
          .controls
            input.input-block-level(type='password', name="password", placeholder='Password')
        .control-group
          .controls
            input.input-block-level(type='password', name="confirmPassword", placeholder='Repeat Password')
        .control-group
          .controls
            button.btn.btn-primary.input-block-level(type='submit') Sign up
        hr
        p.clearfix
          a.goto-login.pull-left(href='/login') â† Back to login form
      // END Register Form
    // END Main Content
    // basic scripts

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    //script
      window.jQuery || document.write('<script src="/irfandesign/code/assets/jquery/jquery-1.10.1.min.js"><\\/script>')
    script(src='/irfandesign/app/assets/jquery/jquery-1.10.1.min.js')
    script(src='/irfandesign/app/assets/bootstrap/bootstrap.min.js')
    script(type='text/javascript')
      function goToForm(form)
      {
      $('.login-wrapper > form:visible').fadeOut(500);
      }
      $(function() {
      $('.goto-login').click(function(){
      goToForm('login');
      });
      $('.goto-forgot').click(function(){
      goToForm('forgot');
      });
      $('.goto-register').click(function(){
      goToForm('register');
      });
      });
