extends layout

block content

    script(type='text/javascript', src='/javascripts/sumorobot.js')
    script(type='text/javascript', src='/javascripts/robokoding.js')
    script(type='text/javascript', src='/javascripts/blockly/blockly_compressed.js')
    script(type='text/javascript', src='/javascripts/blockly/javascript_compressed.js')
    script(type='text/javascript', src='/javascripts/blockly/blocks_compressed.js')
    script(type='text/javascript', src='/javascripts/blockly/msg/js/en.js')

    .box-title
        h3 RoboKoding Sumorobot
    .box-content
        p These are the assembly instructions for the RoboKoding Sumorobot chassis and Wi-Fi board PCB. RoboKoding project 
            a(href="https://plus.google.com/photos/+SilverKuusik/albums/5777266184562058609") gallery
            | , 
            a(href="https://www.facebook.com/pages/RoboKoding/685457641509474") Facebook page 
            | and 
            a(href="https://github.com/robokoding") GitHub
            | .
        img(src="/images/robokoding.png" width="15%" style="padding-right: 5%; padding-left: 5%;")
        img(src="/images/pcb/500_step0.JPG" width="25%")
        img(src="/images/pcb/500_step1.JPG" width="25%")
        img(src="/images/pcb/500_step2.JPG" width="25%")
        img(src="/images/pcb/500_step3.JPG" width="25%")
        img(src="/images/pcb/500_step4.JPG" width="25%")
        img(src="/images/pcb/500_step5.JPG" width="25%")
        img(src="/images/pcb/500_step6.JPG" width="25%")
        img(src="/images/pcb/500_step7.JPG" width="25%")
        img(src="/images/pcb/500_step8.JPG" width="25%")
        img(src="/images/pcb/500_step9.JPG" width="25%")
        img(src="/images/pcb/500_step10.JPG" width="25%")
        img(src="/images/pcb/500_step11.JPG" width="25%")
        img(src="/images/pcb/500_step12.JPG" width="25%")
        img(src="/images/pcb/500_step13.JPG" width="25%")
        img(src="/images/pcb/500_step14.JPG" width="25%")
        img(src="/images/pcb/500_step15.JPG" width="25%")
        img(src="/images/pcb/500_step16.JPG" width="25%")
        img(src="/images/pcb/500_step17.JPG" width="25%")
        img(src="/images/pcb/500_step18.JPG" width="25%")
        img(src="/images/chassis/500_step0.JPG" width="25%")
        img(src="/images/chassis/500_step1.JPG" width="25%")
        img(src="/images/chassis/500_step2.JPG" width="25%")
        img(src="/images/chassis/500_step3.JPG" width="25%")
        img(src="/images/chassis/500_step4.JPG" width="25%")
        img(src="/images/chassis/500_step5.JPG" width="25%")
        img(src="/images/chassis/500_step6.JPG" width="25%")
        img(src="/images/chassis/500_step7.JPG" width="25%")
        img(src="/images/chassis/500_step8.JPG" width="25%")
        img(src="/images/chassis/500_step9.JPG" width="25%")
        img(src="/images/chassis/500_step10.JPG" width="25%")
        img(src="/images/chassis/500_step11.JPG" width="25%")
        img(src="/images/chassis/500_step12.JPG" width="25%")
        img(src="/images/chassis/500_step13.JPG" width="25%")
        img(src="/images/chassis/500_step14.JPG" width="25%")
        img(src="/images/chassis/500_step15.JPG" width="25%")
        img(src="/images/chassis/500_step16.JPG" width="25%")
        img(src="/images/chassis/500_step17.JPG" width="25%")
        img(src="/images/chassis/500_step18.JPG" width="25%")
        p This is the 
            a(href="https://developers.google.com/blockly/") Blockly 
            programming interface for RoboKoding Sumorobots.
        div#video
            //img(src="http://localhost:8080/?action=stream")

        div#blocklyDiv(style="height: 260px;")

        div#buttons
            input(type="text", id="host" value="192.168.101" style="margin-bottom: 0px;")
            br
            input(type="button", class="btn btn-primary", value="Connect", onclick="javascript:connect();")
            input(type="button", class="btn btn-primary", value="Send Code", onclick="javascript:sendCode();")
            input(type="button", class="btn btn-primary", value="Show Code", onclick="javascript:showCode();")
