doctype
html.no-js
    <![endif]
    head
        title CodeSnail | Learn Code While Competing

        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel="shortcut icon", type="image/ico", href="/images/teacher.png")

        // base css styles
        link(rel='stylesheet', href='/stylesheets/normalize/normalize.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.min.css')

        // flaty css styles
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        link(rel='stylesheet', href='/stylesheets/responsive.css')

        script(src='/javascripts/modernizr/modernizr-2.6.2.min.js')
    body.login-page
        //if lt IE 7
        p.chromeframe
            | You are using an
            strong outdated
            | browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            | or
            a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
            | to improve your experience.
        // BEGIN Main Content
        .login-wrapper
            h1(align='center') CodeSnail Sign Up

            div#forErrors(align='center')
                each err in error
                    p.alert.alert-error #{err.msg}
            if message != ""
                p.alert.alert-success #{message}

            // BEGIN Register Form
            form#form-register(name="signup", action='/signup', method='post')
                h3 Sign up
                hr
                .control-group
                    .controls
                        input.input-block-level(type='text', name="username", placeholder='Username', value="#{username}")
                .control-group
                    .controls
                        input.input-block-level(type='text', name="email", placeholder='Email', value="#{email}")
                .control-group
                    .controls
                        input.input-block-level(type='password', name="password", placeholder='Password')
                .control-group
                    .controls
                        input.input-block-level(type='password', name="passwordConfirm", placeholder='Repeat Password')
                .control-group
                    .controls
                        button.btn.btn-primary.input-block-level(type='submit') Sign up
                hr
                p.clearfix
                    a.goto-login.pull-left(href='/login') â† Back to login form
                // END Register Form
            // END Main Content

        // basic scripts
        script(src='/javascripts/jquery/jquery-1.11.2.min.js')
        script(src='/javascripts/bootstrap/bootstrap.min.js')
        script(type='text/javascript').
            $(function() {
                $('.goto-login').click(function() {
                    $('.login-wrapper > form:visible').fadeOut(500);
                });
            });
