extends layout

block content

    script(type='text/javascript', src='/javascripts/sumorobot.js')
    script(type='text/javascript', src='/javascripts/blockly/blockly_compressed.js')
    script(type='text/javascript', src='/javascripts/blockly/en_compressed.js')
    script(type='text/javascript', src='/javascripts/blockly/javascript_compressed.js')

    .box-title
        h3 Sumorobot
    .box-content
        div#video
            //img(src="http://localhost:8080/?action=stream")

        div#blocklyDiv(style="height: 400px;")

        xml#toolbox(style="display: none").
            <block type="controls_arduino_main"></block>
            <block type="controls_if"></block>
            <block type="controls_arduino_motor"></block>
            <block type="controls_arduino_move"></block>
            <block type="controls_arduino_opponent"></block>
            <block type="controls_arduino_line"></block>

        div#buttons
            input(type="button", class="btn btn-primary", value="Send Code", onclick="javascript:sendCode();")
            input(type="button", class="btn btn-primary", value="Show Code", onclick="javascript:showCode();")
