body {
	margin: 1%;
}

input, textarea {
	width: 20%;
	outline: none;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	margin: 5px 1px 3px 0px;
	padding: 3px 0px 3px 3px;
	-webkit-border-radius: 4px;
}

input:focus, textarea:focus {
	margin: 5px 1px 3px 0px;
	padding: 3px 0px 3px 3px;
	border: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

div#header {
	text-align: center;
	background-color: #ccc;
	border-bottom: 1px solid #ccc;
}

div#user {
	top: 1%;
	right: 1%;
	position: fixed;
}

div#online-users {
	width: 98%;
	height: 70px;
	border-bottom: 1px solid #ccc;
}

div#code-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
}

div.clear {
	clear: both;
}

div.user {
	float: left;
	padding-right: 5px;
}

img.mugshot {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius: 50%;
}

a.mugshot-link {
	color: black;
	font-size: 0.6em;
	font-weight: bold;
	text-decoration: none;
}

p.errors {
	color: red;
}

p.messages {
	color: green;
}

div#task-message {
	top: 5%;
	left: 5%;
	width: 90%;
	height: 30%;
	z-index: 100;
	display: none;
	position: fixed;
	font-size: 10em;
	background-color: white;
}

div#code-message {
	top: 20%;
	left: 25%;
	width: 50%;
	height: 25%;
	display: none;
	position: fixed;
	background-color: white;
}

div#footer {
	width: 100%;
	margin-top: 5%;
	text-align: center;
	background-color: #ccc;
	border-top: 1px solid #ccc;
}