div#header {
	width: 98%;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

div#user {
	top: 5px;
	right: 5px;
	position: fixed;
}

div#online-users {
	width: 98%;
	height: 70px;
	border-bottom: 1px solid #ccc;
}

div#code-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
}

div.clear {
	clear: both;
}

div.user {
	float: left;
	padding-right: 5px;
}

img.mugshot {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

a.mugshot-link {
	color: black;
	font-size: 0.6em;
	font-weight: bold;
	text-decoration: none;
}

p.errors {
	color: red;
}

p.messages {
	color: green;
}

div#footer {
	width: 98%;
	margin-top: 5%;
	text-align: center;
	border-top: 1px solid #ccc;
}