#header {
	border-bottom: 1px solid gray;
	width: 98%;
	text-align: center;
}
#user {
	position: fixed;
	top: 5px;
	right: 5px;
}
#footer {
	border-top: 1px solid gray;
	width: 98%;
	text-align: center;
	margin-top: 5%;
}
div.clear {
	clear: both;
}
div.user {
	width: 100px;
	float: left;
}
img.mugshot {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
	width: 50px;
	height: 50px;
}
a.mugshot-link {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 0.6em;
}
.messages {
	color: green;
}
.errors {
	color: red;
}