doctype html
html(lang="en")

    head
        include ../includes/head.pug
        block head

    body
        include ../includes/browser.pug
        include ../includes/navigation.pug

        // BEGIN Container
        #main-container.container-fluid
            include ../includes/sidebar.pug

            // BEGIN Content
            #main-content
                // BEGIN Page Title
                .page-title
                    h1
                        i.icon-user
                        span Online Users
                            small#room
                    div#online-users
                        p Loading users ...
                    div.clear
                // END Page Title

                // BEGIN Main Content
                .row-fluid
                    .span12
                        .box
                            block content
                // END Main Content
                include ../includes/footer.pug
            // END Content
        // END Container
